

.product {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 24px 16px;
  width: 300px;
  height: 500px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  margin: 16px;
  /* overflow-y: auto; */
}

.product:hover {
  transform: translateY(-5px);
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product_img {
  width: 280px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: contain;
}

.product_name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.product_category {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
}

.product_price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2a9d8f;
  margin-bottom: 8px;
}

.product_rating {
  font-size: 0.9rem;
  color: #f4b400;
  margin-bottom: 16px;
}

.product_info {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
}
